@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: local("Poppins"), url(~assets/fonts/Poppins-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: local("Poppins"), url(~assets/fonts/Poppins-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: local("Poppins"), url(~assets/fonts/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"), url(~assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url(~assets/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url(~assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins"), url(~assets/fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: local("Poppins"), url(~assets/fonts/Poppins-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins"), url(~assets/fonts/Poppins-Black.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 200;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXThinCond.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 200;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXThinExtItv3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 300;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXThinExtv3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 400;
  src: local("DBHelvethaica"), url(~assets/fonts/DB-Helvethaica-X-v3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 100;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXUlLiCondv3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 600;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXUlLiExtItv3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 700;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXUlLiExtv3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 800;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXUlLiItv3.2.ttf) format("truetype");
}
@font-face {
  font-family: "DBHelvethaica";
  font-weight: 900;
  src: local("DBHelvethaica"), url(~assets/fonts/DBHelvethaicaXv3.2.ttf) format("truetype");
}

* {
  font-family: 'Poppins', sans-serif;
}

.thai {
  font-family: "DBHelvethaica", sans-serif;
}

.v-toast__icon {
  margin-left: 1.5em !important;
}

.v-toast__text {
  text-shadow: 1px 1px #00000022;
  margin-right: 0.5em !important;
}

.v-toast__item--success {
  background-color: #4caf50 !important;
}

.v-toast .v-toast__item {
  border-radius: 5em;
}
.hrr {
  height: .5px;
  opacity: .5;
}
.footleft {
  height: 30rem;
  position: absolute;
  left: 0;
  transform: translate(-8rem, -20rem);
}
.vm--modal {
  background-color: transparent !important;
  box-shadow: none !important;
}

.footright {
  height: 50rem;
  position: absolute;
  right: 0;
  transform: translate(11rem, -14rem);
}

@media (max-width:1441px){
  .footleft {
    height: 25rem;
    position: absolute;
    left: 1rem;
    bottom: -5rem;
    /* transform: translate(-8rem, -20rem); */
  }
  
  .footright {
    height: 40rem;
    position: absolute;
    right: 2rem;
    bottom: -25rem;
    /* transform: translate(11rem, -14rem); */
  }
}
/* Carousel Review */

/* .crv .hooper-indicator.is-active {
  height: 12.5% !important;
  border-radius: 4px !important;
  background-color: red !important;
} */

/* .crv .hooper-indicator:hover, */
.crv .hooper-indicator.is-active {
  background-color: #82A284 !important;
  width: 18px !important;
  height: 18px !important;
}
.crv .hooper-indicator {
  margin: 0 2px !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 100% !important;
  padding: 0 !important;
  background-color: lightgray !important;
  cursor: pointer !important;
}

.crv .hooper-pagination {
  position: absolute !important;
  /* bottom: 0 !important; */
  right: 50% !important;
  transform: translateX(50%) !important;
  /* transform: translateY(10px) !important; */
  display: flex !important;
  padding: 5px 10px !important;
}

.a .hooper-pagination {
  transform: translate(5rem, 6rem) !important;
}
.b .hooper-pagination {
  transform: translate(2.5rem, 6rem) !important;
}